.checkoutItem {
   display: flex;
   flex-direction: row;
   margin: 20px 0;
   padding-bottom: 20px;

   &__image {
      position: relative;

      object-fit: contain;
      width: 100px;
      height: 100px;
   }

   &__info {
      flex: 0.7;
      margin: 0 20px 0;

      &Title {
         font-weight: 500;
         font-size: 100%;
      }
      &Rating {
         display: flex;
      }

      > button {
         background: #f0c14b;
         border-radius: 2px;
         border: 1px solid;
         margin-top: 3em;
         border-color: #a88734 #9c7e31 #846a29;
         color: #111;
      }
   }

   &__rightContainer {
      display: flex;
      flex: 0.3;
      align-items: center;
   }
   &__qty {
      display: flex;
      flex: 0.5;
      position: relative;
      align-items: center;
      justify-content: center;
      > span {
         size: 2em;
         margin: 0 15px;
         text-align: center;
         outline: none;
         border: none;
      }
      .MuiSvgIcon-root {
         cursor: pointer;
         font-size: 2em;
         transition: all 0.3s;
         &:hover {
            transition: all 0.3s;
            transform: scale(1.2);
         }
      }
   }
   &__price {
      justify-content: flex-end;

      display: flex;
      flex: 0.5;
      margin-right: 10px;
   }
}
