.checkoutItem {
   display: flex;
   flex-direction: row;
   margin: 20px 0;
   padding-bottom: 20px;
   &__image {
      position: relative;

      object-fit: contain;
      width: 150px;
      height: 150px;
   }

   &__info {
      flex: 1;

      padding: 0 20px 0;

      &Title {
         font-size: 17px;
         font-weight: 800;
      }
      &Rating {
         display: flex;
      }

      > button {
         background: #f0c14b;
         border-radius: 2px;
         border: 1px solid;
         margin-top: 10px;
         border-color: #a88734 #9c7e31 #846a29;
         color: #111;
      }
   }

   &__rightContainer {
      margin-right: 20px;
   }
}
