@import '../animation';

.payment {
   margin: 0 5% 5%;
   background-color: white;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   > h1 {
      width: 100%;
      text-align: center;
      padding: 10px;
      font-weight: 400;
      border-bottom: 1px solid lightgray;
      > a {
         text-emphasis: none;
      }
   }
   &__containerLeft {
      flex: 0.8;
   }

   &__section {
      display: flex;
      padding: 20px;
      margin: 0 20px;
      border-bottom: 1px solid lightgray;
   }
   &__title {
      flex: 0.2;
   }
   // &__address {
   //    margin-left: 20px;
   // }
   &__address,
   &__items,
   &__methods {
      flex: 0.8;
   }
   &__methods {
      display: flex;
      width: 100%;
      align-items: center;
      > form {
         width: 100%;
         max-width: 400px;
         margin-right: 1rem;
      }
      .payment__annotation {
         display: flex;
         &Mark {
            width: 20px;
            height: 20px;
            margin-right: 1rem;
            text-align: center;
            border: 1px solid;
            border-radius: 100%;
            outline: none;
            font-weight: 800;
            user-select: none;
            opacity: 0.5;
            &::before {
               content: '?';
            }
            &:hover {
               animation: shaker 1s ease-out;
               opacity: 0.8;
               &::before {
                  content: '';
               }
               &::after {
                  content: '!';
                  color: #f0c14b;
               }
            }
         }

         &Box {
            display: none;
            position: absolute;
            width: max-content;
            margin-left: 2rem;
            padding: 4px;
            font-size: 12px;
         }
         &:hover .payment__annotationBox {
            display: flex;
            animation: fade-in-left 3s cubic-bezier(0.645, 0.045, 0.355, 1)
               alternate;
            opacity: 0.8;
         }
      }
   }

   &__containerRight {
      display: flex;
      flex-direction: column;
      flex: 0.3;
      text-align: center;
      align-items: center;
      border-left: 1px solid lightgray;
   }
   &__totalItems {
      margin: 20px;
      > a {
         text-decoration: none;
         color: lightsalmon;
      }
   }
   &__priceContainer {
      margin: 20px;
   }
   &__buyBtn {
      margin: 20px;
      background: #f0c14b;
      width: 50%;
      height: 30px;
      border-radius: 2px;
      border: 1px solid;
      border-color: #a88734 #9c7e31 #846a29;
      color: #111;
   }
}
