.payment {
   margin: 0 5% 5%;
   background-color: white;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   > h1 {
      width: 100%;
      text-align: center;
      padding: 10px;
      font-weight: 400;
      background-color: rgb(234, 237, 237);
      border-bottom: 1px solid lightgray;
      > a {
         text-emphasis: none;
      }
   }
   &__containerLeft {
      flex: 0.8;
   }

   &__section {
      display: flex;
      padding: 20px;
      margin: 0 20px;
      border-bottom: 1px solid lightgray;
   }
   &__title {
      flex: 0.2;
   }
   // &__address {
   //    margin-left: 20px;
   // }
   &__address,
   &__items,
   &__methods {
      flex: 0.8;
   }
   &__methods > form {
      max-width: 400px;
   }

   &__containerRight {
      display: flex;
      flex-direction: column;
      flex: 0.3;
      text-align: center;
      align-items: center;
      border-left: 1px solid lightgray;
   }
   &__totalItems {
      margin: 20px;
      > a {
         text-decoration: none;
      }
   }
   &__priceContainer {
      margin: 20px;
   }
   &__buyBtn {
      margin: 20px;
      background: #f0c14b;
      width: 50%;
      height: 30px;
      border-radius: 2px;
      border: 1px solid;
      border-color: #a88734 #9c7e31 #846a29;
      color: #111;
   }
}
